@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

footer {
    position: relative;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icons-container, footer-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-top: 100px;
}

.social-icon {
    color: rgb(224, 182, 182);
    font-size: 35px;
    padding: 5px 15px;
    border-radius: 10px;
    margin-left: 10px;
}

.social-icon:hover {
    background-color: #121212;
    filter: invert(1);
}

.copyright {
    color: gray;
}