body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-font-smoothing: antialiaed;
    -moz-osx-font-smoothing: grayscale;
    background-color: indigo;
}


code {
    font-family: source-code-pro, Menlo, Monaco, consolas, "Courier New", monospace;
}







